In [1]:
 name = 'Anshika'
 age = 19
 pi = 3.1415

In [2]:
a=20
type(a)

int

In [3]:
a=2.1
type(a)

float

In [5]:
flowers=['Rose','Lily','Tulip','Marigold']
print(flowers)
print(type(flowers))

['Rose', 'Lily', 'Tulip', 'Marigold']
<class 'list'>

In [6]:
numbers=(1,6,8,5,9)
print(numbers)
print(type(numbers))

(1, 6, 8, 5, 9)
<class 'tuple'>

In [7]:
evens={2,4,6,8,10}
print(evens)
print(type(evens))

{2, 4, 6, 8, 10}
<class 'set'>

In [8]:
info={'name':'Raj kumar', 'age':30 , 'salary':200000}
print(info)
print(type(info))

{'name': 'Raj kumar', 'age': 30, 'salary': 200000}
<class 'dict'>

In [9]:
a=15
b=4

In [10]:
print(a+b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

19
60
3.75
3
3

In [11]:
print(a=b)
print(a+=b)

SyntaxError: invalid syntax (1334659683.py, line 2)

In [ ]:
colors=['red','green','blue',]